# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtualenv
.venv/
venv/
ENV/

# Variáveis de ambiente / segredos
.env
.env.*
*.env

# IDE/Editor
.vscode/
.idea/
*.code-workspace

# Testes / caches
.pytest_cache/
.mypy_cache/
.cache/
coverage/
htmlcov/

# SO
.DS_Store
Thumbs.db
